[submodule "Paper"]
	path = base/Paper
	url = https://github.com/PaperMC/Paper.git
	branch = ver/1.8.8
[submodule "builddata"]
	path = builddata
	url = https://hub.spigotmc.org/stash/scm/spigot/builddata.git
